body {
    background-image: url(eye-background.png);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
               
}

.the-rest {
display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;
    height: auto;
    overflow-y: auto;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #41444e;
    margin: 0;
    width: 960px;
    max-width: 1200px;
    padding-top: 50px;
}

.description {
    flex: 1;
    padding: 20px;
    padding-bottom: 90px;
    border-radius: 8px;
    width: 45%;
    color: #959ccf;
    font-family: "Open Sans", "Arial", sans-serif;
}



.description2 {
flex: 2;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
    color: #959ccf;
    font-family: "Open Sans", "Arial", sans-serif;
}

.tittle {
font-size: 17px;
font-weight: bold;

}

@media (max-width: 1000px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .description {
        margin-top: 20px;
        padding: 15px;
        width: 90%;
    }

    .description2 {
        margin-top: 20px;
        padding: 15px;
        width: 90%;
    }

    body {
        min-height: 100vh;
        height: auto;
        overflow-y: auto;
    }
}
